<!DOCTYPE html>
<html>
<head>

<title>Beverages</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

body{
    font-size:24px;
    padding:20px;
    text-align:center;
}

table{
    width:100%;
}

td{
    padding:10px;
}

button{
    width:100%;
    height:80px;
    font-size:18px;
}

</style>

</head>

<body>

<h1>🥤 Beverages</h1>

<p>Table {{ table }}</p>

<table>

<tr>
<td><button>Cool Drink 250ml<br>₹20</button></td>
<td><button>Sweet Lassi<br>₹69</button></td>
</tr>

<tr>
<td><button>Butter Milk<br>₹49</button></td>
<td><button>Water Bottle<br>₹20</button></td>
</tr>

<tr>
<td><button>Lemonade<br>₹59</button></td>
<td></td>
</tr>

</table>

</body>
</html>