<!DOCTYPE html>
<html>
<style>

body{
    font-size:24px;
    padding:20px;
}

button{
    font-size:22px;
    padding:15px;
}

input{
    font-size:22px;
    padding:10px;
}

textarea{
    font-size:20px;
}

</style>
<head>
    <title>Bill Requested</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Bill Request Sent ✅</h1>

<p>
Please tell your Table Number:
<b>{{ table }}</b>
at the counter and collect your bill.
</p>

<p>
Thank you for dining with us ❤️
</p>

<p>
We hope to serve you again!
</p>

</body>
</html>