<!DOCTYPE html>
<html>
<style>

body{
    font-size:24px;
    padding:20px;
}

button{
    font-size:22px;
    padding:15px;
}

input{
    font-size:22px;
    padding:10px;
}

textarea{
    font-size:20px;
}

</style>
<head>
    <title>Dine In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Enter Table Number</h1>

<form action="/menu" method="GET">
    <input type="number"
           name="table"
           placeholder="Enter Table Number"
           required>

    <input type="submit" value="Continue">
</form>

</body>
</html>