<!DOCTYPE html>
<html>
<style>

body{
    font-size:24px;
    padding:20px;
}

button{
    font-size:22px;
    padding:15px;
}

input{
    font-size:22px;
    padding:10px;
}

textarea{
    font-size:20px;
}

</style>
<head>
    <title>Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Table {{ table }}</h1>

<h2>{{ category }}</h2>

{% for item in items %}

<div style="margin-bottom:20px">

    <h3>
        <a href="/itemdetails?name={{ item.name }}">
            {{ item.name }}
        </a>
    </h3>

    <p>₹{{ item.price }}</p>


</div>

<hr>

{% endfor %}

</body>
</html>