<!DOCTYPE html>
<html>
<style>

body{
    font-size:24px;
    padding:20px;
}

button{
    font-size:22px;
    padding:15px;
}

input{
    font-size:22px;
    padding:10px;
}

textarea{
    font-size:20px;
}

</style>
<head>
    <title>kitchen Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3">
</head>
<body>

<h1>kitchen Dashboard</h1>

{% for order in orders %}

<hr>

<h2>ORDER #{{ order["order_id"] }}</h2>

<h3>TABLE {{ order["table"] }}</h3>

<hr>

{% for item in order["items"] %}

<p>
<b>{{ item["name"] }}</b> x{{ item["quantity"] }}
</p>

<p>
Note: {{ item["instructions"] }}
</p>

<br>

{% endfor %}

{% endfor %}

</body>
</html>