<!DOCTYPE html>
<html>
<style>

body{
    font-size:24px;
    padding:20px;
}

button{
    font-size:22px;
    padding:15px;
}

input{
    font-size:22px;
    padding:10px;
}

textarea{
    font-size:20px;
}

</style>
<head>
    <title>Categories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Table {{ table }}</h1>

<h2>Select Category</h2>

<a href="/items?table={{ table }}&category=Biryani">
    <button>Biryani</button>
</a>

<br><br>

<a href="/items?table={{ table }}&category=Roti">
    <button>Roti</button>
</a>

<br><br>

<a href="/items?table={{ table }}&category=Kukkad">
    <button>Kukkad</button>
</a>

</body>
</html>